.ondertitel{
    border-bottom:5px solid black;
    text-align: center;
    padding: 10px;
}

body { 
    font-family: "raleway";
    background-color: lightgrey;
}

ul {
    list-style-type:none;
}

a:link{
    color: white;
}
a:visited{
    color: white;
}

a:hover{
    text-decoration: none;
}

.btn{
   margin: 5px;
}

